<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
</head>

<body>
  <main class="flex h-vh-full">
    <div class="navpanel bg-gray-100">
      <div class="navpanel-header">
        <h1><a href="#" class="logo">ANSWER</a></h1>
      </div>
      <div class="navpanel-body">
        <ul class="navpanel-nav font-bold">
          <li>
            <a href="#" class="navpanel-link"><span
                class="material-icons mr-4 align-bottom">insert_chart</span>Dashboard</a>
          </li>
          <li>
            <a href="#" class="navpanel-link"><span
                class="material-icons mr-4 align-bottom">question_answer</span>Question</a>
          </li>
          <li>
            <a href="#" class="navpanel-link"><span
                class="material-icons mr-4 align-bottom">assignment</span>Assignment</a>
          </li>
          <li>
            <a href="#" class="navpanel-link"><span
                class="material-icons mr-4 align-bottom">video_library</span>Course</a>
          </li>
          <li>
            <a href="#" class="navpanel-link active"><span
                class="material-icons mr-4 align-bottom">people</span>Admin</a>
          </li>
          <li>
            <a href="#" class="navpanel-link"><span class="material-icons mr-4 align-bottom">settings</span>Settings</a>
          </li>
        </ul>
      </div>
      <div class="navpanel-footer flex items-center">
        <img src="./assets/images/andychen.jpeg" alt="user" class="mr-4 h-10 rounded-circle" width="40">
        <div>
          <h2 class="mb-1">Andy Chen</h2>
          <p class="text-sm text-gray-600">andy0401@mail.com</p>
        </div>
      </div>
    </div>
    <%- contents %>
  </main>
  <script src="./assets/js/all.js"></script>
</body>

</html>